body {
        padding: 0;
        margin: 0;
}

#header{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: normal;
}
.btn {
        font-size: 20px;
         font-weight: normal;
}
#header  a:visited {
        color: #008000;

}

#jumbotron {
        min-height: 250px;
}

#content{

        width: 100%;
        /*
        background-color: green; */
}
#news{

    /*    background-color: pink; */
        margin-top: 0;
        margin-left: 1px;
        color:black;
        word-wrap: break-word;
        font-family: 'Oswald', sans-serif;
        max-height: 300px;

}
#news > ul{
        margin-top: 5px;
}

#articles {
        margin-top: 0;
        margin-left: 55px;
    /*    background-color: red;*/
}

#pagination{
        margin-top : 5px;
}

#footer {
        margin-top: 5px;
        font-family: 'Oswald', sans-serif;
}

/* CONTACT US CSS*/

#container-id{
        margin-left: 40%;
        font-family: 'Oswald', sans-serif;
        float:left;
        margin-top: 55px;

}

#anca{
        margin-top:1px;
        font-family: 'Oswald', sans-serif;
}

#adrian{


        margin-top: 25px;
        font-family: 'Oswald', sans-serif;

}

#footer
{
        margin-bottom: 0px;
}
#jumbotron-footerr
{
        margin-bottom: 0;
}
/* ABOUT US CSS*/
